body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.map-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#map {
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    object-fit: contain;
}

.poi {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}

.tooltip {
    position: fixed; /* Alterado para 'fixed' para garantir que a caixa branca acompanhe o cursor */
    background-color: white;
    color: black;
    padding: 10px;
    width: 200px; /* Definindo a largura da caixa branca como 200 pixels */
    height: 200px; /* Definindo a altura da caixa branca como 200 pixels */
    border: 1px solid black;
    display: none;
    z-index: 999; /* Alterado para um valor alto para garantir que a caixa branca esteja na frente de outros elementos */
}
