body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

.map-container {
    position: absolute;
    width: 1330px;
    height: 1875px; /* Altura será ajustada automaticamente */
    overflow: hidden; /* Adicionamos overflow: auto para permitir rolagem vertical */
}
.hidden-map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Permite que eventos do mouse passem através da imagem */
}

.hidden-map-overlay:hover {
    opacity: 1;
}

#map {
	z-index: 1; /* Defina um valor de z-index menor para o mapa */
    /* Outros estilos do mapa */
    width: 100%; /* Definimos a largura do mapa como 100% da largura da página */
    height: auto; /* Mantemos a altura automática para manter a proporção do mapa */
    display: block;
    margin: auto;
    object-fit: contain;
}

.poi {
    position: absolute;
    width: 10px; /* Define o tamanho do círculo */
    height: 10px; /* Define o tamanho do círculo */
    background-color: black; /* Define a cor do círculo */
    border-radius: 50%; /* Faz com que o elemento seja um círculo */
    cursor: pointer;
    transform: translate(-50%, -50%);
}
.poi:hover {
    background-color: darkred; /* Cor ao passar o mouse por cima */
}
.card {
            display: none;
            position: absolute;
            background-color: transparent;
            width: 400px;
            height: 200px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            border: none;
            padding: 0;
			margin: 0;
}
.link-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Cobrindo toda a largura do card */
    height: 100%; /* Cobrindo toda a altura do card */
    opacity: 0; /* Torna o botão invisível */
    cursor: pointer; /* Altera o cursor para indicar que é clicável */
}
		
.tooltip {
        display: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.9); /* Adiciona transparência */
        width: 100px;
        height: 50px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adiciona sombra */
        border: none; /* Remove a borda */
        padding: 10px;
        font-weight: bold; /* Define o texto em negrito */
    }
	